.small-container {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 0 auto;

  /* box-sizing: border-box; */
}
@media only screen and (max-width: 600px) {
  .small-container {
    width: 90%;
  }
}
