.imageCard img {
  cursor: pointer;
  border-radius: 8px;
  box-sizing: content-box;
  width: 244px;
  height: 180px;
}
@media only screen and (max-width: 600px) {
  .imageCard img {
    width: 163px;
    height: 120px;
    border-radius: 4px;
  }
}
