.header-container {
  background-color: #fff;
  height: 72px;
  /* position: fixed; */
  width: 100%;
  top: 0;
  z-index: 1;
}
.header-content {
  /* border: 2px solid black; */
  position: relative;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0 auto;
}
.section-left {
  display: flex;
  align-items: center;
  position: absolute;
  left: 0;
}

.location-icon {
  margin-left: 46px;
  font-weight: bold;
}
.location-icon,
.down-icon,
.section-left > span {
  margin-right: 5px;
  cursor: pointer;
  /* margin-bottom: 5px; */
}
.section-left > span {
  color: rgb(15, 25, 56);
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 600;
  line-height: 24px;
  overflow: unset;
  font-weight: 500;
  font-size: 14px;
}
.location-icon,
.down-icon {
  color: rgb(0, 179, 122);
}
.down-icon {
  font-size: 12px;
}
.dunzo-logo {
  cursor: pointer;
  /* margin-top: 10px; */
  /* display: inline-block; */
}
.section-right {
  position: absolute;
  display: flex;
  align-items: center;
  right: 0;
}
.section-right > span,
.section-right svg,
.section-right button {
  margin-right: 30px;
}
.section-right > svg {
  cursor: pointer;
}
.section-right > span {
  cursor: pointer;
  color: rgb(23, 30, 48);
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.4px;
}
.section-right > span:hover {
  color: rgb(0, 179, 122);
}
.right-text {
  padding: 10px;
  background: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
}
.signin-btn {
  cursor: pointer;
  padding: 8px 20px;
  border-radius: 30px;
  background: rgb(0, 210, 144);
  border: none;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
}
@media only screen and (max-width: 600px) {
  .header-content {
    width: 90%;
    justify-content: start;
  }
  .signin-btn {
    background-color: #fff;
    font-weight: normal;
    color: black;
    padding: 0;
  }
  .section-right {
    position: absolute;
    right: 0;
  }
  .dunzo-logo {
    display: none;
  }

  .section-left {
    left: -40px;
  }
  .section-right > span {
    display: none;
  }
}
