.callOut-container {
  width: 70%;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 48px;
}
@media only screen and (max-width: 720px) {
  .callOut-container {
    margin-top: 15px;
    width: 90%;
    column-gap: 10px;
    row-gap: 10px;
    display: flex;
  }
}
